@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Shadows+Into+Light&family=Solitreo&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Merriweather', serif;
}

body {
	/* background-color: #F2F2F2; */
    background-color: #B2BEBF;
}

.container {
	width: 100%;
	padding: 0px 80px;
}

.heading {
    text-align: center;
    font-size: 28px;
}