.Form {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../../assets/page-turner.png");
    background-position: center/center;
    background-repeat: no-repeat;
    background-size: cover;
}

.form1 h1 {
    font-size: 35px;
    padding-bottom: 15px;
    /* color: white; */
}

.form1 {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    margin: auto;
    padding: 150px 100px;
    border-radius: 10px;
}

.form1 input ,.form1 button{
    width: 250px;
    height: 35px;
    margin: 5px 0px;
    outline: none;
    border: 1px solid #800020;
    font-size: 20px;
}

.form1 button {
    cursor: pointer;
}

.linkToSignup {
    padding-top:15px;
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 20px;
}