.topHalf {
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}

.datePicker {
    padding-top: 7px;
    display: flex;
}

.moodPicker {
    display: flex;
    
}

.moodEmjois {
    display: flex;
}

.moodEmjois p {
    font-family: 'Solitreo', cursive;
}

.moods {
    /* padding-left: 10px; */
    margin-left: 10px;
    text-align: center;
}

.moods button{
    background: transparent;
    border: none;
    cursor: pointer;
    text-align: center;
}

.titleContainer {
    display: flex;
    justify-content: center;
    
}

.selected {
   border: 2px solid black;
   text-align: center;
   
}

.bottomHalf {
    text-align: center;
}

.explainMood {
    width: 275px;
    height: 100px;
    border-radius: 8px;
    font-family: 'Solitreo', cursive;
    border: none;
}

.whatHappened {
    width: 275px;
    height: 100px;
    border-radius: 8px;
    font-family: 'Solitreo', cursive;
    border: none;
}

.inputBox {
    border-radius: 8px;
    border: none;
    width: 100px;
    height: 40px;
    text-align: center;
    font-family: 'Solitreo', cursive;
}
