.specEntrieContainer {
    text-align: center;
    padding-top: 60px;
}

.dateandmood {
    display: flex;
    justify-content: space-around;
    font-size: 25px;
}

.explainedandentry {
    padding-top: 60px;
}

.explained h1, .entry h1 {
    font-size: 35px;
    padding: 20px 0px;
}

.explained p, .entry p {
    border: 2px solid #800020;
    width: 650px;
    margin: auto;
    border-radius: 10px;
    padding: 40px;
    font-family: 'Solitreo', cursive;
    word-break: break-all;
}

.trashCan, .editIcon {
    color:#800020;
    font-size: 15px;
    display: inline-block;
    align-items: center;
}

.deleteButton {
    text-align: center;
    font-size: 20px;
    border-radius: 8px;
    border: none;
    padding: 5px;
    border: 1px solid #800020;
    cursor: pointer;
}

.editIcon {
    color: white;
}

.editButton {
    text-align: center;
    font-size: 20px;
    border-radius: 8px;
    border: none;
    padding: 5px;
    background-color: #800020;
    color: white;
    margin: 10px;
    cursor: pointer;
}

.editandelbutton {
    margin-top: 20px;
}